/chapter16/cropped.png
/chapter16/pasted.png
/chapter16/purpleImage.png
/chapter16/TransparentImage.png
/chapter16/zophie.png
/chapter16/zophie1.jpg
/chapter15/duesRecords.xlsx
/chapter15/alarm.wav
/chapter15/testMyself.py